/* about ↓ */

.about-content {
  gap: 3.12rem;
}

.patners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 0;

  img {
    border-radius: 0;
  }

  .partners-wrapper {
    display: flex;
    gap: 4rem;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    padding-top: 2rem;
  }
}
