/* bento ↓ */

.bento {
  gap: 1rem;

  h1 {
    font-size: clamp(1.4rem, 2.5vw, 1.6rem) !important;
  }

  .big-img-bento {
    img {
      height: 100%;
    }
  }

  .big-img-bento {
    flex: 1 0 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .side-bento {
    flex: 1 0 0;
    gap: 1rem;
  }

  .bento-two {
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .text-wrapper {
    flex: 1;
    white-space: normal;
    word-break: break-word;
  }

  .stretch-img {
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1.bento-title-homepage {
    font-size: clamp(1.2rem, 2.5vw, 2.2rem) !important;
  }
}

#a-propos,
#concept {
  .bento {
    height: 50dvh;
    .stretch-img {
      height: 0%;
    }
    img {
      height: 100%;
    }
  }
}

#contact {
  .bento {
    height: 50dvh;
  }
}

/* responsive */
@media (max-width: 900px) {
  .bento {
    flex-direction: column;
    height: auto;
  }

  #a-propos,
  #concept {
    .bento {
      .side-bento {
        flex: none;
      }

      .stretch-img {
        display: none;
      }

      .big-img-bento {
        height: 50%;
      }
    }
  }
}

@media (max-width: 900px) {
  .bento {
    height: 70dvh;
  }

  #homepage {
    .bento {
      .graphic-wrapper {
        display: none;
      }
    }
    .big-img-bento {
      height: 10%;
    }

    .mini-bento {
      height: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .bento {
    height: 110dvh;
  }

  #contact {
    .bento-two {
      .graphic-wrapper {
        display: none;
      }
    }
  }

  .mini-bento {
    height: 100%;

    .graphic-wrapper {
      display: flex;
      flex-grow: 1;
    }
  }

  #homepage {
    .bento-two {
      flex-direction: column;
    }
  }

  #a-propos,
  #concept {
    .stretch-img {
      height: 42%;
    }
  }
}

@media (max-width: 1300px) {
  #homepage .bento {
    height: 100dvh;
  }

  .bento {
    height: 65dvh;
  }

  .side-bento {
    flex: none;
  }

  .mini-bento {
    height: 100%;

    .graphic-wrapper {
      display: flex;
      flex-grow: 1;
    }
  }

  .bento-two {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  #contact {
    .bento {
      height: 105dvh;
    }
  }

  #a-propos,
  #concept {
    .bento {
      height: 70dvh;
    }

    .stretch-img {
      display: none;
    }

    .big-img-bento {
      height: 50%;
    }

    .bento-two {
      .graphic-wrapper {
        display: none;
      }
    }
  }
}
