/* bento ↓ */

.bento {
  height: 80dvh;
  display: flex;

  img {
    height: 100%;
  }

  .stretch-img {
    flex-grow: 1;

    .col-12 {
      padding: 0;
    }
  }

  .side-bento {
    gap: 1rem;
  }

  .bento-two {
    gap: 1rem;
  }
}
