/* bento ↓ */

.bento {
  gap: 1rem;

  h1 {
    font-size: clamp(1.4rem, 2.5vw, 1.6rem) !important;
  }

  .big-img-bento {
    flex: 1 0 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .side-bento {
    flex: 1 0 0;
    gap: 1rem;
  }

  .bento-two {
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .text-wrapper {
    flex: 1;
    white-space: normal;
    word-break: break-word;
  }

  .stretch-img {
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* responsive */
@media (max-width: 900px) {
  .bento {
    flex-direction: column;
    height: auto;

    .big-img-bento {
      height: 20vh;
      img {
        height: 100%;
      }
    }
  }
  .bento-two {
    gap: 0.5rem;
  }
}

@media (max-width: 900px) {
  .bento {
    height: 70vh;
  }

  .mini-bento {
    height: 100%;
  }
}

@media (max-width: 1300px) {
  .bento {
    height: 100vh;
    gap: 0.5rem;

    .side-bento {
      gap: 0.5rem;
    }
  }

  .mini-bento {
    height: 100%;

    .graphic-wrapper {
      display: flex;
      flex-grow: 1;
    }
  }

  .bento-two {
    gap: 0.5rem !important;
    flex-direction: column;
  }
}
