/* button ↓ */

.button {
  background-color: $color-accent;
  color: $color-light;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content;

  display: flex;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  &:hover {
    background-color: $color-accent-hover;

    i {
      color: $color-dark;
    }
  }
}

.button-second {
  background-color: $color-secondary;
  color: $color-dark;

  &:hover {
    background-color: $color-secondary-hover;
    color: $color-dark;
  }
}

.button-wrapper {
  display: flex;
  gap: 0.62rem;
}

.button-big {
  padding: 2.31rem 2rem;
  width: 100%;

  a,
  .fa-solid {
    font-size: clamp(1.3rem, 2.5vw, 1.3rem);
  }
}
