/* button ↓ */

.button {
  background-color: $color-accent;
  color: $color-light;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content !important;

  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  &:hover {
    background-color: $color-accent-hover;
    color: $color-secondary-hover;

    i {
      color: $color-dark;
    }
  }

  a {
    color: $color-light;
    line-height: normal;

    &:hover {
      color: $color-secondary-hover;
    }
  }
}

.buttons-next-to-each-other {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.cta-download {
  color: $color-accent;
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.button-wrapper {
  display: flex;
  gap: 0.625rem;
}

.button-second {
  background-color: $color-secondary;
  color: $color-dark;

  &:hover {
    background-color: $color-secondary-hover;
    color: $color-accent-hover;
  }

  a {
    color: $color-dark;
    line-height: normal;

    &:hover {
      color: $color-accent-hover;
    }
  }
}

.button-big {
  padding: 2rem 1.8rem;
  width: 100%;

  a,
  .fa-solid {
    font-size: clamp(1.3rem, 2.5vw, 1.3rem);
  }
}

@media screen and (max-width: 768px) {
  .button-big {
    padding: 1.5rem 1rem;
  }
}
