/* swiper ↓ */
.swiper {
  position: relative;
  padding-top: 5rem;
}

.custom-controls {
  .getaway-button-prev,
  .getaway-button-next,
  .testimonial-button-prev,
  .testimonial-button-next {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $color-accent;
    color: $color-light;
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &.swiper-button-disabled {
      background-color: $color-secondary;
      pointer-events: none;
      cursor: default;

      svg {
        fill: $color-dark;
        opacity: 0.5;
      }
    }
  }
}
