/* concept ↓ */

.concept {
  gap: 1.5rem;
  position: relative;

  .box-icon {
    height: 100%;
  }

  .decoration-1 {
    top: -2.3rem;
    left: -14rem;
  }

  .decoration-2 {
    bottom: -2.3rem;
    right: -14rem;
  }

  h2 {
    text-align: center;
  }

  svg {
    fill: $color-secondary;
    opacity: 0.5;
    width: 10rem;
    height: 10rem;
    position: absolute;
  }

  .container-concept {
    gap: 1rem;
    z-index: 20;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .concept {
    overflow: hidden;

    .decoration-1 {
      top: 0;
    }

    .decoration-2 {
      bottom: 0;
    }
  }

  .box-wrapper {
    flex-direction: column;
    gap: 1rem;
    padding: 0 !important;

    .box-icon {
      width: 100%;
    }
  }
}

.concept-how-wrapper {
  display: flex;
  flex-wrap: wrap;

  .box {
    margin: 1rem 0.5rem;
  }

  .box-explanation-number {
    font-size: clamp(2rem, 5vw, 2.3rem);
    font-weight: bold;
  }
}
