/* concept ↓ */

.concept {
  gap: 1.5rem;
  position: relative;
  overflow: hidden;

  .decoration {
    position: relative;
  }

  .decoration-1 {
    top: -140px;
    left: -21%;
  }

  .decoration-2 {
    top: 252px;
    left: 110%;
  }

  h2 {
    text-align: center;
  }

  svg {
    fill: $color-secondary;
    opacity: 0.5;
    width: 10rem;
    height: 10rem;
    position: absolute;
  }

  .container-concept {
    gap: 1rem;
    z-index: 20;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .decoration-1 {
      top: -140px;
      left: -38%;
    }

    .decoration-2 {
      top: 252px;
      left: 110%;
    }
  }
}
