/* concept ↓ */

#concept {
  i {
    color: $color-accent;
    font-size: clamp(1rem, 5vw, 1.3rem);
  }
}

.concept {
  gap: 1.5rem;
  position: relative;

  .box-icon {
    height: 100%;
  }

  .container-concept {
    gap: 1rem;
    z-index: 20;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .concept {
    overflow: hidden;

    .box-wrapper {
      flex-direction: column;
      gap: 1rem;
      padding: 0 !important;

      .box-icon {
        width: 100%;
      }
    }
  }
}

.concept-how-wrapper {
  display: flex;
  flex-wrap: wrap;

  .box {
    margin: 1rem 0.5rem;
  }

  .box-explanation-number {
    font-size: clamp(2rem, 5vw, 2.3rem);
    font-weight: bold;
  }
}
