/* form ↓ */

form {
  input {
    background-color: $color-secondary;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  form {
    input {
      padding: 0.5rem 1rem;
    }
  }
}

.form-check {
  .form-check-input {
    background-color: $color-secondary;
    border: none;

    &:checked {
      background-color: $color-accent;
      border: none;
    }
  }
}

#FormControlTextarea1,
#FormControlTextarea2,
#FormControlTextarea3,
#FormControlTextarea4,
#FormControlTextarea5,
#FormControlTextarea6,
#InputEmail1,
#typePhone {
  background: $color-secondary;
  border: none;
  padding: 1rem;
  border-radius: 10px;

  &:focus {
    background: $color-secondary !important;
    border: none !important;
  }
}

label {
  width: 100%;

  p {
    font-size: clamp(0.6rem, 2vw, 0.8rem);
  }

  a {
    color: $color-accent;

    &:hover {
      color: $color-accent-hover;
    }
  }
}
