/* lastcta ↓ */

.lastcta {
  position: relative;

  .button {
    padding: 1rem 1.5rem;
  }

  .decoration-1 {
    top: -1rem;
    left: -28rem;

    z-index: 1;
  }

  .decoration-2 {
    top: -1rem;
    right: -1rem;
  }

  p {
    text-align: center;
  }

  .lastcta-title {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .buttons-next-to-each-other {
    padding-top: 3rem;
  }

  .lastcta-title {
    h2 {
      position: relative;
      z-index: 800;
    }

    svg {
      width: 6.42181rem;
      height: 6.42181rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .lastcta {
    .decoration-1 {
      left: -24rem;
    }

    .decoration-2 {
      left: -5rem;
    }
  }
}
