/* lastcta ↓ */

.lastcta {
  position: relative;

  .button {
    padding: 1rem 1.5rem;
  }

  .decoration-1 {
    left: 27%;
    top: -25;
    z-index: 10;
  }

  .decoration-2 {
    left: 63%;
    top: -10;
  }

  p {
    text-align: center;
  }

  .lastcta-title {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .buttons-next-to-each-other {
    padding-top: 3rem;
  }

  .lastcta-title {
    h2 {
      position: relative;
      z-index: 800;
    }

    svg {
      fill: $color-secondary;
      opacity: 0.5;
      width: 6.42181rem;
      height: 6.42181rem;
      position: absolute;
    }
  }
}

@media screen and (max-width: 768px) {
  .lastcta {
    .decoration-1 {
      left: -3%;
      top: -3%;
    }

    .decoration-2 {
      left: 73%;
      top: -10;
    }
  }
}
