* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  user-select: none;
  border-radius: 10px;
}

/* base ↓ */
html {
  font-size: 20px;
  scroll-behavior: smooth;
  // font-family: $font-base;
  background-color: $color-dark;
  color: $color-light;
  transition: all 0.3s ease-in-out;
}

main {
  position: relative;
}

p {
  margin-bottom: 0;
}

/* carousel ↓ */
.carousel {
  display: flex;
}

/* bootstrap ↓ */
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(31, 195, 159, 0.15);
//   border: 1px solid rgb(96, 12, 221);
// }

/* swiper ↓ */
.swiper {
  position: relative;
  padding-top: 5rem;
}

.custom-controls {
  .swiper-button-prev,
  .swiper-button-next {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $color-accent;
    color: #fff;
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;

    &::after {
      font-size: inherit;
      color: #fff;
    }
  }
}

/* button ↓ */

.button {
  background-color: $color-accent;
  color: $color-light;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content;

  display: flex;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  &:hover {
    background-color: $color-accent-hover;

    i {
      color: $color-dark;
    }
  }
}

.button-second {
  background-color: $color-secondary;
  color: $color-dark;

  &:hover {
    background-color: $color-secondary-hover;
    color: $color-dark;
  }
}

.l-button {
  gap: 0.62rem;
}
