* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// .row > * {
//   padding: 0;
// }

a {
  color: inherit;
  text-decoration: none !important;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  user-select: none;
  border-radius: 10px;
  object-fit: cover;
}

/* base ↓ */
html {
  font-size: 18px;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

/* bootstrap ↓ */
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(31, 195, 159, 0.15);
//   border: 1px solid rgb(96, 12, 221);
// }

main {
  gap: 4.6rem;
  display: flex;
  flex-direction: column;
}

svg {
  fill: $color-light;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .row {
    justify-content: center;
  }

  .box-container {
    gap: 0.5rem;
  }
}

.cta-download {
  color: $color-accent;
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.buttons-next-to-each-other {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
