@font-face {
  font-family: "Poppins-Regular";
  src: url("/src/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/src/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/src/fonts/Poppins-Medium.woff2") format("woff2"),
    url("/src/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/src/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("/src/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-semibold;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 2.2rem) !important;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: clamp(1.3rem, 2.5vw, 2rem) !important;
  font-style: normal;
  font-weight: 500;
  padding: 1.5rem 0;
  text-align: center;
}

h3 {
  font-size: clamp(1.1rem, 2.5vw, 1.3rem) !important;
  font-style: normal;
  font-weight: 500;
}

h4,
.sub-title {
  font-size: clamp(1.2rem, 2.5vw, 1.3rem) !important;
  font-family: $font-medium;
  font-weight: 500;
  line-height: normal;
}

h5 {
  font-size: clamp(0.8rem, 2.5vw, 1rem) !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p,
a {
  margin-bottom: 0 !important;
  font-family: $font-regular;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.accordion-header h3 {
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
  font-weight: 500;
  line-height: 3rem; /* 111.628% */
}

.sub-title,
nav a,
.button a,
.button-second a,
.accordion-header h3 {
  font-family: $font-medium;
}
